/**
 * Configure Tailwind v4 in this file using CSS variables and directives:
 * https://tailwindcss.com/docs/v4-beta#css-first-configuration
 */

 @import 'tailwindcss';

@layer utilities {
  @keyframes scroll-ribbon {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-scroll-ribbon {
    animation: scroll-ribbon linear infinite;
  }
}

@plugin 'tailwind-scrollbar';